$primary: rgba(94, 202, 12, 0.664);
$box-background-color: rgba(94, 202, 12, 0.664);
$pagination-current-background-color: rgba(94, 202, 12, 0.664);
$pagination-current-border-color: rgba(94, 202, 12, 0.664);

.photo {
    border-radius: 10%;
}

@import "~bulma/bulma"