$primary: #333333;
$box-background-color: #333333;
$pagination-current-background-color: #333333;
$pagination-current-border-color: #333333;

.photo {
    border-radius: 10%;
}

@import "~bulma/bulma"